<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/pic/aquabox.png" />
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/member/member.css" />
    <link rel="stylesheet" href="/style/general/general.css" />
    <title>Member</title>
  </head>
  <body>
    <div class="wrapper">
      <section class="top-bar">
        <div class="logo">
          <img src="/pic/aquabox.png" alt="" />
          <h1>Aquaboxes</h1>
        </div>
        <div class="search">
          <form action="/search" method="get">
            <input type="text" name="search" id="search" placeholder="Search" />
            <button></button>
          </form>
        </div>
        <div class="signout-btn">
          <a href="/">Sign out</a>
        </div>
      </section>
      <main>
        <div class="welcome">
          <div class="member">
            <p>Hi {{name}}</p>
            <img src="/pic/Hi.png" alt="Hi" />
          </div>
        </div>
        <div class="msg-wrapper">
          <div class="msg-ctn"></div>
        </div>
      </main>
    </div>
  </body>
</html>
