<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/pic/aquabox.png" />
    <link rel="stylesheet" href="/style/reset.css" />
    <link rel="stylesheet" href="/style/member/member.css" />
    <link rel="stylesheet" href="/style/general/general.css" />
    <title>Member</title>
  </head>
  <body>
    <div class="wrapper">
      <section class="top-bar">
        <div class="logo">
          <img src="/pic/aquabox.png" alt="" />
          <h1>Aquaboxes</h1>
        </div>
        <div class="search">
          <form action="/search" method="get">
            <input
              type="text"
              name="search"
              id="search"
              placeholder="Search for a specific member's messages"
            />
            <button></button>
          </form>
        </div>
        <div class="signout-btn">
          <a href="/signout">Sign out</a>
        </div>
      </section>
      <main>
        <div class="welcome">
          <div class="member">
            <p id="name"></p>
            <img src="/pic/Hi.png" alt="Hi" />
          </div>
          <div class="comment">
            <form action="/createMessage" method="post" id="msg_form">
              <textarea
                name="comment"
                id="comment"
                cols="30"
                rows="10"
                placeholder="Share your thoughts"
              ></textarea>
              <button>Submit</button>
            </form>
          </div>
        </div>
        <div class="msg-wrapper">
          <div class="msg-ctn"></div>
          <div class="loadmore">
            <p>LoadMore</p>
          </div>
        </div>
      </main>
    </div>
    <script src="/javascript/member.js"></script>
  </body>
</html>
